.mynavbar {
	position:fixed;
	width:120%;
	background-color: #ffd01e;
}

.navbar {
	margin-top: -10px;
	margin-left: 10px;
	background-color: #ffd01e;
}

.navitem {
	border: 3px solid #303030;
	border-radius: 10px;
	background-color: #333333;
	padding:3px;
	padding-left:15px;
	padding-right:15px;
	color:#fff;
}

.navitem a.active {
  background-color: #ffd01e;
  color: white;
}

.navitem a.visited a.hover{
	background-color: #8f8f8f;
	color:white;
}

.navitem {
	display: inline;
}

.container 
{
	display: block;
	vertical-align:top;
	max-width: 100%;
	max-height: 100px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 10px;
	padding-left: 10px;
	float: left;
}

.app-logo {
	margin:10px;
	width:80px;
	height:80px;
}

.nav-title 
{
	display: inline;
	position:absolute;
	white-space:nowrap;
}

.navtitle {
	font-weight: 800;
	padding:10px;
	margin-top:5px;
}


@media (max-width: 768px) {
	.container {
	    padding-right: 20px;
	    padding-left: 20px;
	    display: block;
	}
	.navtitle {
	font-weight: 800;
	font-size: 18px;
	padding:10px;
	margin-top: 5px;
}
}
