.email-header {
  font-size: 30px;
  line-height: 30px;
  font-weight: 800;
}

.email {
  margin-top: 12px;
  font-size: 16px;
  line-height: 24px;
}

.email > * {
  margin-top: 14px;
}

.email > .address {
  border-left: double;
  padding: 0 16px;
}

.email > .content {
  white-space: pre-wrap;
}
